.videoContainer {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.productsOverview {
  margin-top: 72px;
}

.subtitle {
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 2px;
  display: block;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3333333333;
  text-transform: uppercase;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 96px;
}

.product img {
  width: 100%;
}

.product img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.description {
  text-align: center;
  width: 40%;
  padding: 0 20px;
}

.productImage {
  width: 60%;
}

.buttonLink {
  display: inline-block;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 14px 32px;
  background-color: #fff;
  margin-top: 24px;
  font-size: 13px;
  font-weight: 600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buttonLink:hover {
  color: #1b9eda;
}

.about .product img:hover {
  opacity: 1;
  cursor: default;
}

@media (max-width: 767px) {
  .description,
  .productImage {
    width: 100%;
  }

  .description {
    order: 2;
  }

  .productImage {
    order: 1;
  }
}
